.PersonalInfo table tr>td:first-of-type{

    width: 30%!important;
    height: 40px!important;
    font-size: 12px !important;
}
.PersonalInfo table tr>td:last-of-type{

    width:50%!important;
    font-size: 12px;
    color: #00A0AF !important;
}
